<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Charbel Marché: Learn More About Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4B3TBRGQ29"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-4B3TBRGQ29');
</script>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="../static/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="/" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="static/img/logo.png" alt=""> -->
      <h1 class="sitename">Charbel Marché</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://github.com/charbelmarche33" class="github"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/charbel-marche/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://x.com/_zahlawi_" class="twitter"><i class="bi bi-twitter-x"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="../static/img/hero-bg.webp" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Charbel Marché</h2>
        <p>I am a&nbsp;<span class="typed" data-typed-items="Software Engineer..., Student Physician..., Data Scientist..., Web
            Developer...">More...</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span
            class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am a student physician and computer scientist currently completing my M.D. at the
          University of Virginia. Alongside my education, I am passionate about a handful of personal and research
          projects—some of which you can learn more about below. My career aim is to advance the field of medicine via
          technological innovation.<br /><br />Thank you so much for checking out my page, looking forward to connecting
          with you!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="../static/img/my-profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Background and Career Goals</h2>
            <p class="fst-italic py-3">
              I was born and raised around the city of Fredericksburg, Virginia, where I also attended the University of
              Mary Washington.
              There I completed a B.S. in Computer Science as well as my Pre-Medical coursework. I am currently a
              student at the
              University of Virginia, where I completed my M.S. in Data Science and am completing my physician training
              (M.D.).
              <br /><br />
              <b>
                I am passionate about the
                intersection of medicine and technology, and the untapped potential that is available in said
                intersection. My career aim is
                to improve patient care through technological innovation.
              </b>
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>September 1996</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 (540) 656-3104</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Fredericksburg, Virginia</span>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>28 years</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.S., M.S. and
                      M.D. Candidate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>charbelmarche33@gmail.com</span>
                  </li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              Feel free to fill out the contact form below if you would like to get in touch with me. I am always open
              to working on new projects, hearing new ideas, and meeting new people. I look forward to hearing from you!
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-lungs"></i>
              <span data-purecounter-start="0" data-purecounter-end="258" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>USMLE Step 2 Score</strong><span><br />78th percentile. Taken 1 February 2024.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-translate"></i>
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>Languages Spoken</strong> <span><br />Fluent in English & Arabic. Beginner in
                  French.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="519" data-purecounter-duration="1"
                class="purecounter"></span>
              <p><strong>MCAT Score</strong> <span><br />97th percentile. Taken February 2021.</span></p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item">
              <i class="bi bi-person-walking"></i>
              <span data-purecounter-start="0" data-purecounter-end="455" data-purecounter-duration="1"
                class="purecounter">lbs</span>
              <p><strong>Max Deadlift (Pounds)</strong> <span><br />Just Thought This Would Be Funny.</span></p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Skills</h2>
        <p>Below is a list of some relevant skills that you may be interested in.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">
          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Web Scraping</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>API Development</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Web Development</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Medicine</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Full Stack Development</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Data Science</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Patient Care</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

          </div>
          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Python</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>JavaScript</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>CSS</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>C++</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>C</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Java</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>SQL</span></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div><!-- End Skills Item -->
          </div>
        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Below is a list of experiences dating back to my teenage years. I hope this helps shed some light on my
          expertise and background and would love to answer any questions you may have!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="resume-section">
              <h3 class="resume-title">Summary</h3>
              <div class="resume-item pb-0">
                <h4>Full Name: Charbel Antoine Marché</h4>
                <p><em>Innovative, organized, and ambitious student physician with a passion for technology,
                    engineering,
                    and innovation.</em></p>
                <ul>
                  <li>7821 Hermitage Drive, Fredericksburg, VA 22407</li>
                  <li>+1 (540) 656-3104</li>
                  <li>charbelmarche33@gmail.com</li>
                </ul>
              </div><!-- Edn Resume Item -->
            </div>

            <div class="resume-section">
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Doctor of Medicine</h4>
                <h5>2021 - 2026</h5>
                <p><em>University of Virginia School of Medicine, Charlottesville, VA</em></p>
                <p>Activities and societies: Vice President of the Aerospace Medicine Interest Group, Co-President of
                  the
                  Engineering in Medicine Interest Group, Volunteer at the CVille Free Clinic
                  <br /><br />
                  Surgery, Anesthesia, and OBGYN: A,
                  Pediatrics: A-,
                  Psychiatry: A-,
                  Internal Medicine: A-,
                  Outpatient Medicine: A,
                  Neurology: B,
                </p>
              </div><!-- Edn Resume Item -->
              <div class="resume-item">
                <h4>Masters of Data Science</h4>
                <h5>2024 - 2025</h5>
                <p><em>University of Virginia School of Data Science, Charlottesville, VA</em></p>
                <p>3.95 GPA. Completed coursework in machine learning, large language models, deep learning, and ethics.
                  /p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Bachelor of Applied Science, Computer Science Major</h4>
                <h5>2014 - 2018</h5>
                <p><em>University of Mary Washington, Fredericksburg, VA</em></p>
                <p>Graduated with a 3.95 GPA.<br /><br />
                  Member of UMW student senate, head of the Constitutional Cabinet, Treasurer of the
                  Association of Computing Machinery, Member of Campus Programming Board,
                  Arab culture club, Red cross club, & Member of Chi Beta Phi Honor Society
                </p>
              </div><!-- Edn Resume Item -->
            </div>

            <div class="resume-section">
              <h3 class="resume-title">Volunteer Experience</h3>
              <div class="resume-item">
                <h4>Volunteer Senior Clinician</h4>
                <h5>2024 - now</h5>
                <p><em>Charlottesville Free Clinic, Charlottesville Virginia </em></p>
                <ul>
                  <li> Saw and provided care for patients as a part of the iServe clinic as a 4th-year medical student.
                  </li>
                  <li>Interviewed patients, documented patient encounters, formulated and presented plans to attendings
                    alongside junior clinicians. </li>
                  <li>Got the opportunity to mentor and teach junior clinicians (first and
                    second-year medical students).</li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Clinical and Administrative Volunteer</h4>
                <h5>2015 - 2021</h5>
                <p><em>Lloyd F. Moss Free Clinic, Fredericksburg, Virginia</em></p>
                <ul>
                  <li>Had the pleasure of accompanying doctors in the room while seeing patients, and documented patient
                    history, reasons for visit, physical exams, and doctor’s orders and impressions. </li>
                  <li>Had the opportunity to interact and work directly with patients by interviewing them for their
                    medical history and reason for visit, while obtaining vital signs.</li>
                  <li>Helped organize patient charts (prior to EMR use) and answered and made phone calls to free clinic
                    patients to schedule appointments and remind them of upcoming appointments.</li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Hospital Volunteer</h4>
                <h5>2016 - 2018</h5>
                <p><em>Mary Washington Hospital, Fredericksburg, Virginia</em></p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Volunteer</h4>
                <h5>2017 - 2021</h5>
                <p><em>Thurman Brisben Homeless Shelter, Fredericksburg, Virginia</em></p>
              </div><!-- Edn Resume Item -->
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="resume-section">
              <h3 class="resume-title">Work Experience</h3>
              <div class="resume-item">
                <h4>Medical Scribe</h4>
                <h5>2018 - 2021</h5>
                <p><em>Gastroenterology Associates of Fredericksburg, Fredericksburg, Virginia </em></p>
                <ul>
                  <li>Accompanied doctors inside the room while seeing patients, and documented patient symptoms and
                    histories, physical exams, and physician impressions, plans, and orders.</li>
                  <li>Aided the
                    physicians remotely by reviewing radiology, lab, and pathology reports and updating patient charts
                    to
                    reflect the new information provided by such studies. </li>
                  <li>Worked regularly with PAs, NPs, and LPNs. Gained
                    experience working with and interviewing patients by reviewing medication lists, obtaining vital
                    signs, and obtaining patient social and family histories.</li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Software Engineer Intern</h4>
                <h5>2015 - 2017</h5>
                <p><em>SRA, a CSRA company, Dahlgren, Virginia</em></p>
                <ul>
                  <li>Spearheaded several software development projects contracted to the US navy, including software
                    for
                    the AEGIS weapon systems testing. </li>
                  <li>Worked in Java, C++, and Unix coding languages and worked closely
                    with NSWC Dahlgren Naval Base.</li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Computer Science Intern</h4>
                <h5>2016 - 2017</h5>
                <p><em>University of Mary Washington, Fredericksburg, Virginia</em></p>
                <ul>
                  <li>Utilized UMW’s database to provide reports showing lists of information requested by different
                    departments within the university.</li>
                  <li>Used Oracle SQL to query the database for results and Microsoft
                    Report Builder to create an organized report. </li>
                  <li>Done while taking classes full time in conjunction with
                    working another job. </li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Front Desk Staff</h4>
                <h5>2016 - 2017</h5>
                <p><em>University of Mary Washington, Fredericksburg, Virginia</em></p>
                <ul>
                  <li>Directed and answered questions from guests, staff, and students at the Hurley Convergence Center.
                  </li>
                  <li>Rented tech equipment to students and staff, monitored and managed room bookings, tracked usage of
                    the
                    facility, and helped maintain an orderly and organized facility. </li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Utility</h4>
                <h5>2014 - 2016</h5>
                <p><em>Sodexo, Fredericksburg, Virginia</em></p>
                <ul>
                  <li>Worked 35-40 hours weekly at Naturally Woodstock and Qdoba on campus dining restaurants, while
                    taking classes full-time and excelling academically.
                  </li>
                </ul>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Walmart Associate</h4>
                <h5>2015 - 2016</h5>
                <p><em>Walmart, King George, Virginia</em></p>
              </div><!-- Edn Resume Item -->

              <div class="resume-item">
                <h4>Fry Cook</h4>
                <h5>2014 - 2015</h5>
                <p><em>McDonald's, King George, Virginia</em></p>
              </div><!-- Edn Resume Item -->
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Resume Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Below are links to selected applications and research projects that may interest you. Please click on each
          widget to learn more.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Apps</li>
            <li data-filter=".filter-research">Research</li>
            <li data-filter=".filter-api">APIs</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/novacards-logo.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>NovaCards.ai Web Application</h4>
                  <p class="portfolio-tip">NovaCards.ai is a
                    ML and NLP-powered web app built by a team of student doctors to improve the efficiency and efficacy
                    of studying. </p>
                  <a href="../static/img/portfolio/novacards.png"
                    title="Finding Flashcards With NovaCards.ai: 2022 UVA Entrepreneurship-Cup finalist & 2022 UVA I-Corps participant"
                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://novacards.ai" title="Visit Site" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/anki-icon.svg_.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>NovaCards.ai Anki Add-On</h4>
                  <p class="portfolio-tip">The NovaCards Anki add-on brings
                    NovaCards features derectly into the Anki environment.</p>
                  <a href="../static/img/portfolio/add-on.png" title="Anki Add-On: The NovaCards Anki add-on in use."
                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://ankiweb.net/shared/info/1849880032" title="Visit Site" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-api">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/sec-api-logo.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>SEC 10-K Financial Statement Retriever API</h4>
                  <p>This API provides updated and complete access to 10-K financial statement records for 7,171
                    companies dating back to 2003.</p>
                  <a href="../static/img/portfolio/sec-api-use.png"
                    title="Usage of the SEC 10-K Financial Statement Retriever API"
                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://rapidapi.com/charbelmarche33-m9pHgx2tG/api/stock-financial-statement-retriever-from-sec"
                    title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/stock-scrapers-logo.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>StockScrapers.com</h4>
                  <p>Collection of investing tools that empower retail investors to make informed decisions in the stock
                    market.</p>
                  <a href="../static/img/portfolio/stock-scrapers-usage.png"
                    title="Using StockScrapers.com to compare financial statements of 5 companies over 5 years."
                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://stockscrapers.com" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-research">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/IRQIP.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Interventional Radiology Quality Improvement Dashboard</h4>
                  <p>A fledgling quality improvement project with UVA Health's Interventional Radiology department.</p>
                  <a href="../static/img/portfolio/IRQIP.png"
                    title="Interventional Radiology Quality Improvement Dashboard: See complication rates, types, and more based on patient demographics."
                    data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://www.youtube.com/watch?v=qeUTLHmubnU" title="More Details" class="details-link"><i
                      class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-research">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/ICD-AIS.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Using ML to Convert ICD to AIS/ISS Medical Codes</h4>
                  <p>Created and trained a neural networks to predict AIS codes for trauma patients based on the ICD
                    codes given during hospital stays.</p>
                  <a href="../static/img/portfolio/ICD-AIS.png"
                    title="Published in the Taylor & Francis 'Traffic Injury Prevention' journal in 2024. Abstract accepted into the Society for Academic Emergency Medicine and presented at the SAEM 2023 conference and in Korea in 2024. Additionally presented at the UVA Medical Student Research Symposium and MSSRP Summer Research Presentation Session in 2022 and the Research Computing Poster Exhibition in 2024."
                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://www.tandfonline.com/doi/full/10.1080/15389588.2024.2356663" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-research">
              <div class="portfolio-content h-100">
                <img src="../static/img/portfolio/PCE.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4></h4>
                  <p>Developed the infrastracture for the EQUAL Anesthesia application.</p>
                  <a href="../static/img/portfolio/PCE.png"
                    title="Accepted to 'Anesthesia & Analgesia' in 2025. Presented at IEEE SIEDS in 2025 and published in IEEE Xplore."
                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://www.medrxiv.org/content/10.1101/2025.02.09.25321925v1" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-research">
              <div class="portfolio-content h-100">
                <div class="d-flex justify-content-center bg-white">
                  <img src="../static/img/portfolio/PNS.png" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                  <h4></h4>
                  <p>Developed a framework for segmenting the pituitary with a high accuracy.</p>
                  <a href="../static/img/portfolio/PNS.png"
                    title="Acheived a DICE of 0.8 and working on improving results using high resolution MRIs."
                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                      class="bi bi-zoom-in"></i></a>
                  <a href="https://github.com/Pituitary-Normal-Space/pituitary-segmentation-tool" title="More Details"
                    class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Email me or fill out the contact form below to connect.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Fredericksburg, VA 22407</p>
                </div>
              </div><!-- End Info Item -->

              <a href="tel:5406563104">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone flex-shrink-0"></i>
                  <div>
                    <h3>Text Me</h3>
                    <p>+1 (540) 656-3104</p>
                  </div>
                </div><!-- End Info Item -->
              </a>

              <a href="mailto:charbelmarche33@gmail.com">
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h3>Email Me</h3>
                    <p>charbelmarche33@gmail.com</p>
                  </div>
                </div><!-- End Info Item -->
              </a>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142.664010209215!2d-78.5035482245912!3d38.031611697324465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b38646e32ead63%3A0xac5571508279f6f1!2sUniversity%20of%20Virginia%20School%20of%20Medicine!5e0!3m2!1sen!2sus!4v1721262561692!5m2!1sen!2sus"
                frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form id="contact-form" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p style="max-width: 100% !important;">© <span>Copyright</span> <strong
            class="px-1 sitename">iPortfolio</strong> <span>All
            Rights Reserved</span>
        </p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Derived from template made by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!--<script src="../static/vendor/php-email-form/validate.js"></script>-->
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>